APP_CONFIG__DB__URL=mysql+aiomysql://user:password@db:3306/test_db
APP_CONFIG__DB__ECHO=0
APP_CONFIG__ACCESS_TOKEN__RESET_PASSWORD_TOKEN_SECRET=BG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZWQyNTUxOQAAACBzPUrRDrsxRUtS4ZP5tRH5eM0ZAdcZVLc3QBWeK+OhtQAAAJhMuhVxTLoV
APP_CONFIG__ACCESS_TOKEN__VERIFICATION_TOKEN_SECRET=QAAACBzPUrRDrsxRUtS4ZP5tRH5eM0ZAdcZVLc3QBWeK+OhtQAAAEAjgRVexBLe+8ZgsqoUnbIlFVv8FK67KSYDQLLLV0zq9nM9StEOuzFFS1Lhk/m1Efl4

MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_DATABASE=test_db